body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(60, 60, 60);
  overflow-y: auto;
  overflow-x: hidden;
}

.leaflet-control-layers.leaflet-control {
  bottom: 1.5rem !important;
  margin-bottom: 1rem !important;
}

.leaflet-control-zoom.leaflet-control {
  bottom: 0rem !important;
  margin-bottom: 1rem !important;
}